<!-- 
╔════════╗
║•HEADER•║
╚════════╝
-->
<header>
<div class="menu-responsive">
<div class="logo">
<a href="/"><img src="../assets/logo.jpg" alt="logo"></a>
<p>Eglise <br /><span>Fontaine de Grâce</span></p>
</div>
<div class="menu" id="menu">
<ul>
<li id="rubriqueA"><a href="/">Accueil</a></li>
<li id="rubriqueB"><a href="/histoire">Histoire</a></li>
<li id="rubriqueC"><a href="/membres">Membres</a></li>
<li id="rubriqueD"><a href="/evenements">Evènements</a></li>
<li id="rubriqueE"><a href="/actions">Actions</a></li>
<li id="rubriqueC"><a href="/contacts">Contacts</a></li>
</ul>
</div>

</div>
<div id="icon">
<img src="../assets/burger.png" onclick="myFunction()" alt="menu burger" id="iconx">
</div>
</header>


<!-- 
╔════════╗
║•FOOTER•║
╚════════╝
-->
<footer>
<ul class="a-propos">
<li>
<a href="/evenements">A propos</a>
</li>
<li>
<a href="/contacts">Contactez-nous</a>
</li>
<li>
<a href="/mentions">Mentions légales</a>
</li>
</ul>
<ul class="footer-reseau">
    <li>Suivez-nous sur :</li>
<li>
<a
    href="https://www.facebook.com/eglisefontainedegrace/?locale=fr_FR"
    id="facebook" target="_blank"
    ><img src="../assets/facebook.png" alt="Facebook"
/></a>
</li>
<li>
<a href="https://instagram.com/eglisefontainedegrace?" target="_blank"
    ><img src="../assets/instagram.png" alt="Instagram"
/></a>
</li>
</ul>
<ul>
<li>
<p><strong>Eglise Fontaine de Grâce</strong></p>
<p>5 rue vieille, 02400 Château-Thierry</p>
<p>06 27 14 00 39</p>
</li>
</ul>
</footer>
