 <!-- 
╔════════╗
║•HEADER•║
╚════════╝
-->
<header>
    <div class="logo">
        <a href="/src/main/resources/templates/accueil.html"><img src="/src/main/resources/Assets/logo.jpg" alt="logo"></a>
      <p>Eglise <br /><span>Fontaine de Grâce</span></p>
    </div>
    <div class="menu">
      <ul>
        <li>
            <a href="/src/main/resources/templates/accueil.html" target="_blank">Accueil</a>
          </li>
      <li>
        <li>
          <a href="/src/main/resources/templates/histoire.html" target="_blank">Histoire</a>
        </li>
        <li><a href="/src/main/resources/templates/membres.html" target="_blank">Membres</a></li>
        <li>
          <a href="/src/main/resources/templates/evenements.html" target="_blank">Evènements</a>
        </li>
        <li><a href="/src/main/resources/templates/actions.html" target="_blank">Actions</a></li>
        <li>
          <a href="/src/main/resources/templates/contacts.html" target="_blank">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="button"><a href="/src/main/resources/templates/live.html" target="_blank"><button type="submit">CULTE EN LIVE</button></a></div>
  </header>



   <!-- 
╔════════╗
║•FOOTER•║
╚════════╝
-->
<footer>
    <ul class="a-propos">
      <li>
        <a href="/src/main/resources/templates/evenements.html" target="_blank">A propos</a>
      </li>
      <li>
        <a href="/src/main/resources/templates/contacts.html" target="_blank">Contactez-nous</a>
      </li>
      <li>
        <a href="/src/main/resources/templates/evenements.html" target="_blank">Actualités</a>
      </li>
    </ul>
    <ul class="footer-reseau">
      <li>
        <a
          href="https://www.facebook.com/eglisefontainedegrace/?locale=fr_FR"
          id="facebook" target="_blank"
          ><img src="/src/main/resources/Assets/facebook.png" alt="Facebook"
        /></a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank"
          ><img src="/src/main/resources/Assets/instagram.png" alt="Instagram"
        /></a>
      </li>
    </ul>
    <ul>
      <li>
        <p><strong>Eglise Fontaine de Grâce</strong></p>
        <p>5 rue vieille, 02400 Château-Thierry</p>
        <p>06 27 14 00 39</p>
    </li>
    </ul>
  </footer>
      