<!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
<main>
  
  <h1>Nos évènements</h1>
    <section class="evenements-top">
    <div class="culte">
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1507692049790-de58290a4334?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt="Image culte"
        />
      </div>
      <div class="text">
        <h3>Culte</h3>
        <p>Rendez-vous tous les dimanches matin dès 10h15</p>
      </div>
    </div>
    <div class="disciple">
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1504052434569-70ad5836ab65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt="Image Ecoles des disciples"
        />
      </div>
      <div class="text">
        <h3>Ecole des disciples</h3>
        <p>Animée tous les vendredi dès 19h00</p>
      </div>
    </div>
    <div class="groupe-maison">
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1559223607-a43c990c692c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt="Image groupe de maison"
        />
      </div>
      <div class="text">
        <h3>Groupes de maison</h3>
        <p>Lancement dès septembre 2023</p>
      </div>
    </div>
    <div class="jeune">
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1630887931503-1457c8e112d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
          alt="Image réunion des jeunes"
        />
      </div>
      <div class="text">
        <h3>Réunion des jeunes</h3>
        <p>Rencontre le samedi matin</p>
      </div>
    </div>
    <div class="kids">
      <div class="image">
        <img src="../assets/fontaine-kids.JPG" alt="Logo Fontaine Kid's" />
      </div>
      <div class="text">
        <h3>Fontaine Kid's</h3>
        <p>Animation pour les 2 à 12 ans tous les dimanches matin</p>
      </div>
    </div>
    <div class="homme">
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1559223607-a43c990c692c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt="Image réunion des hommes"
        />
      </div>
      <div class="text">
        <h3>Réunion des hommes</h3>
        <p>
          Rencontre une fois par mois le dimanche après le culte
        </p>
      </div>
    </div>
    <div class="femme">
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1590650046871-92c887180603?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt="Image réunion des femmes"
        />
      </div>
      <div class="text">
        <h3>Réunion des femmes</h3>
        <p>
          Rencontre ponctuelle une fois par mois le dimanche après le culte
        </p>
      </div>
    </div>
  </section>

  <section class="evenements-down">
    <div class="evenement-annuel">
      <a href="https://www.poc-reims.com/generation-connectee/" target="_blank"
        ><h2>plus d'infos<br />cliquez ici</h2></a
      >
    </div>
    <div class="blanc"></div>
    <div class="evenements-list">
      <div class="list">
        <ul>
          <li>&#9205; Semaine de jeûne et prières</li>
          <li>&#9205; Génération connectée</li>
          <li>&#9205; Ateliers divers</li>
          <li>&#9205; Activités sportives</li>
        </ul>
        <div class="affiche">
          <img
            src="../assets/semaine-jeunes-et-prieres.jpg"
            alt="affiche jeunes et prières"
          />
        </div>
      </div>

      <div class="sport">
        <div class="volley">
          <div>
            <img
              src="https://images.unsplash.com/photo-1553524229-2695bb76bce9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80"
              alt="Image volley"
            />
            <h3>Fontaine de volley</h3>
          </div>
        </div>
        <div class="football">
          <div>
            <img
              src="https://images.unsplash.com/photo-1606925797300-0b35e9d1794e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=881&q=80"
              alt="Image football"
            />
            <h3>Fontaine de foot</h3>
          </div>
        </div>
      </div>
      <div class="evenements-contacts">
        <p>
          <strong
            >Pour plus d'informations, <br />veuillez nous contacter
          </strong>
        </p>
        <br />

        <p>&#9742; 01 23 45 67 89</p><br>
        <p>ou par mail </p><a href="/contacts"><p>en cliquant ici</p></a>
      </div>
    </div>
  </section>
</main>
