<!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
<main>

    <section class="actions-title">
        <h1>Merci pour vos offrandes</h1>
        <div>  
            <h3>"Honorez l'éternel avec vos richesses, avec les prémisses de toutes vos récoltes;<br> Proverbes 3.9"</h3>
        </div>
    </section>
    <section class="actions">
        <div class="dons">
            <div class="commentaire">
                <h3>Pour ceux qui souhaitent <br>nous accompagner financièrement</h3>
            </div>
            <div class="place">
            <h2>Sur place</h2>
            <p>Aux horaires du culte, à transmettre à la trésorière en espèce ou par chèque à l'ordre de FONTAINE DE GRACE</p><br>
            
            </div>
            <div class="courrier">
            <h2>Par courrier</h2>
            <p><em>Eglise Fontaine de Grâce</em><br></p>
            <p><em>5 rue Vieille<br></em></p>
            <p><em>02400 CHATEAU-THIERRY</em></p>
            </p>
            </div>
            <div class="virement">
            <h2>Par virement</h2>
            <p><strong>Domiciliation</strong><br>SG CHARLY SUR MARNE(00613)<br>7 Place du Général de Gaulle - 02310 CHARLY</p><br>
            <p><strong>RIB</strong><br>30003    00613    00037280605      27</p><br>
            <p><strong>Libellé de compte</strong><br>FONTAINE DE GRACE</p><br>
            <p><strong>IBAN</strong><br>FR76 3000 3006 1300 0372 8060 527</p><br>
            <p><strong>BIC - Adresse SWIFT</strong><br>SOGEFRPP</p><br>
            </div>
        </div>
        <div class="epicerie">
        <h2>Epicerie solidaire</h2>
        <h3>Collecte pour les familles</h3><br>
        <p>Sur place : un panier est mis à disposition</p>
        <img src="../assets/epicerie-sociale.jpg" alt="affiche-epicerie-sociale">
    </div>
    </section>

    
</main>
