    <!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
<main>
      <h1>Culte en direct</h1>
<section class="live-down">
   <div id="fb-root"></div>
    <!-- Code de lecteur vidéo intégé -->
  <div class="fb-video" data-href="https://fb.watch/lUHnjCCneQ/" data-width="900" data-show-text="false"><blockquote cite="https://www.facebook.com/eglisefontainedegrace/videos/240954662185752/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/eglisefontainedegrace/videos/240954662185752/"></a>
    <p></p>Publiée par <a href="https://www.facebook.com/eglisefontainedegrace">Église Fontaine de Grâce</a> sur Dimanche 16 juillet 2023</blockquote></div>
</section>
</main>
 