    <!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
<main>
<section class="histoire">
<h1><span>N</span>otre histoire</h1>
<p>Tout a commencé au Brésil au milieu des années 90 où notre pasteur Amauri a reçu une vision de Dieu pour la France. Plusieurs années après cette vision, alors qu’il avait quitté le ministère à plein temps et réouvert un salon de coiffure, Dieu s’est adressé de nouveau à lui en lui disant « Tu pars maintenant où tu meurs ».<br>
<div class="voyage">
    <div class="image_voyage">
        <img src="../assets/image_voyage.png" alt="image voyage">
    </div>
<div class="text_voyage">
    <p>Il décide donc de quitter le Brésil pour venir s’installer en France.</p><br>
    <p>Après une dizaine d’années de services auprès d’églises Brésiliennes en France, il part en vacances au Brésil en pensant peut-être ne pas revenir. Mais lors d’une visite au pasteur Yolande, celle-ci lui a dit : « Mon fils, tu es juste en vacances ici, Dieu n’a pas fini avec toi. Rentre chez toi et reprends ta guitare »</p>
</div>
</div>
<div class="retour">
    <p>A son retour, la 1ère personne qui était venue au Seigneur lui a fait rencontrer d’autres chrétiens de la région qui n’avait pas d’église, (la seule église évangélique de la ville à ce moment là avait fermé) et qui seraient intéressés de le rencontrer.</p><br>
    <p>Ils ont donc commencé à se réunir régulièrement et au fil du temps et de la manifestation de la puissance de Dieu, 5 baptêmes et 1 mariage ont été célébrés et de nombreuses personnes se sont rajoutées au groupe jusqu’à atteindre 50 personnes.</p><br>
    <p>Les maisons devenant trop petites, il fut temps de trouver une salle pour se réunir.</p>
</div>    
<div class="creation">
    <div><img src="../assets/premier_logo.jpg" alt="image premier logo"></div>
    <div class="text_creation">
    <p>C’est alors qu’ils décidèrent de se constituer en association le 10 novembre 2016 sous le nom « Eglise Fontaine de Grâce » et de louer la salle de la rue Gerbrois.</p>
    </div>
    <div><img src="../assets/premiere_salle.jpg" alt="photo de la première salle "></div>
</div>
<div class="changement">
    <p>Au bout de 3 ans, la salle était devenue trop petite, et après plusieurs mois de recherches nous avons déménager dans notre salle actuelle au 5 rue Vieille à Château-Thierry.</p><br>
    <div class="travaux">
        <div class="image_travaux"><img src="../assets/travaux.jpg" alt="image travaux"></div>
        <div class="text_travaux">
            <p>Au départ il s’agissait d’un simple hangar dans lequel    nous avons monté un chapiteau isolé tant bien que mal par des ballots de paille, autant dire que nos premiers cultes dans ce lieu en plein mois de décembre étaient bien frais.</p><br>
            <p>Après des années de travail de la part de chacun et par la grâce de Dieu, nous avons aujourd’hui une salle belle, confortable ou nous pouvons le louer et l’adorer.</p>
        </div>
    </div>
</div>
</section>
<section class="valeurs">
        <div>
            <h2>Valeurs fondamentales</h2>
            <div class="valeur1">
                <div class="box">
                    <h3>L'AUTORITÉ DE LA PAROLE DE DIEU</h3>
                    <p>Elle est digne d’être écoutée et d’être crue. La Bible est la base de la foi et de la vie du disciple. Croire, c’est la mettre en pratique.</p><br>
                    <figure>
                        <blockquote>
                         "Le ciel et la terre passeront, mais mes paroles ne passeront point."
                        </blockquote>
                        <figcaption><cite>Marc 13:31</cite></figcaption>
                     </figure>
                </div>
                <div class="box">
                    <h3>LA LOUANGE</h3>
                    <p>Elle est pour nous un mode de vie en toutes circonstances.</p><br>
                    <figure>
                        <blockquote>
                         "Je bénirai l’Eternel en tout temps ; sa louange sera toujours dans ma bouche. "
                        </blockquote>
                        <figcaption><cite>Psaumes 34:2</cite></figcaption>
                     </figure>
                </div>
                <div class="box">
                    <h3>LA PRIÈRE</h3>
                    <p>Suivre l’exemple du Seigneur ne peut être réalisé sans que l’église ne s’attèle à la prière – elle est un mode de vie, et rythme celle de l’église.</p><br>
                    <figure>
                        <blockquote>
                         "Priez sans cesse."
                        </blockquote>
                        <figcaption><cite>Thessaloniciens 5:17</cite></figcaption>
                     </figure>
                </div>
            </div>
            <div class="valeur2">
                <div class="box">
                    <h3>LA CROISSANCE EN CHRIST</h3>
                    <p>Nous voulons aider les croyants à grandir au moyen de l’enseignement de la Parole de Dieu, et les conduire dans une vie de prière active.</p><br>
                    <figure>
                        <blockquote>
                         "Allez, faites de toutes les nations des disciples, les baptisant au nom du Père, du Fils et du Saint Esprit et enseignez-leur à observer tout ce que je vous ai prescrit. "
                        </blockquote>
                        <figcaption><cite>Matthieu 28:19-20</cite></figcaption>
                     </figure>
                </div>
                <div class="box">
                        <h3>L'EVANGÉLISATION</h3>
                        <p>L’amour du Christ nous presse à accomplir la mission que Jésus nous donne, c’est pourquoi l’église utilise tous les moyens à sa disposition pour partager le message de l’Evangile.</p><br>
                        <figure>
                            <blockquote>
                             "Jésus leur dit : « Allez par tout le monde, et prêchez la bonne nouvelle à toute la création."
                            </blockquote>
                            <figcaption><cite>Marc 16:15</cite></figcaption>
                         </figure>
                </div>
                <div class="box">
                        <h3>LA COMMUNION FRATERNELLE</h3>
                        <p>Le lien de l’amour fraternel est entretenu dans une atmosphère familiale où règne la bonne humeur.</p><br>
                        <figure>
                            <blockquote>
                             "Ayant purifié vos âmes en obéissant à la vérité pour avoir un amour fraternel sincère, aimez-vous ardemment les uns les autres, de tout votre cœur."
                            </blockquote>
                            <figcaption><cite>1 Pierre 1:22</cite></figcaption>
                         </figure>
                </div>
            </div>
            <div class="valeur3">
                <div class="box">
                    <h3>L'ENSEIGNEMENT DES ENFANTS ET DES JEUNES</h3>
                    <p>La vision pour toutes les générations conduit l’église à déployer tous ses efforts pour communiquer l’Evangile de manière adaptée à chacun.</p><br>
                    <figure>
                        <blockquote>
                         "Instruis l'enfant selon la voie qu'il doit suivre ; Et quand il sera vieux, il ne s'en détournera pas."
                        </blockquote>
                        <figcaption><cite>Proverbes 22:6</cite></figcaption>
                     </figure>
                </div>
                <div class="box">
                    <h3>LA VIE DE L'ESPRIT</h3>
                    <p>Au fruit de l’Esprit et à ses dons s’ajoutent les signes qui accompagnent ceux qui croient.</p><br>
                    <figure>
                        <blockquote>
                         "Voici les miracles qui accompagneront ceux qui auront cru : en mon nom, ils chasseront les démons ; ils parleront de nouvelles langues ; ils saisiront des serpents ; s'ils boivent quelque breuvage mortel, il ne leur fera point de mal ; ils imposeront les mains aux malades, et les malades seront guéris."
                        </blockquote>
                        <figcaption><cite>Marc 16:17-18</cite></figcaption>
                     </figure>
                </div>
                <div class="box">
                    <h3>LES OEUVRES BONNES</h3>
                    <p>La foi véritable engendre naturellement de bonnes œuvres.</p><br>
                    <figure>
                        <blockquote>
                         "Comme le corps sans âme est mort, de même la foi sans les œuvres est morte."
                        </blockquote>
                        <figcaption><cite>Jacques 2:26</cite></figcaption>
                     </figure>
                </div>
            </div>
        </div>
    </section>
</main>
 