    <!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
    <main>
          <section class="membres">
        <section>
          <h1>Bureau du Conseil de l'église</h1>
          <div class="row">
                      
            <div class="top">
                <div>
                    <h2>Couple pastoral</h2>
                </div>
              <div class="image-box">
                <img src="../assets/Amauri.JPG" alt="Image 1" />
                <h3>Amauri de Souza</h3>
                <p>Président, Pasteur</p>
              </div>
              <div class="image-box">
                <img src="" alt="Image 5" />
                <h3>Elaine de Souza</h3>
                <p>Membre du conseil</p>
              </div>
</div>
<div class="center">
              <div class="image-box">
                <img src="" alt="Image 4" />
                <h3>Jean-Pierre Borys</h3>
                <p>Pasteur, Responsable de l'école des disciples</p>
              </div>

              <div class="image-box">
                <img src="" alt="Image 3" />
                <h3>Felipe de Souza</h3>
                <p>Secrétaire</p>
              </div>
              <div class="image-box">
                <img src="" alt="Image 4" />
                <h3>Stéphanie Reinhardt</h3>
                <p>Trésorière</p>
              </div>
             
            </div>
            <div class="col">
                <div class="image-box">
                <img src="" alt="Image 2" />
                <h3>Setra Ratefiniaina</h3>
                <p>Responsable de Louange</p>
              </div>
              
              <div class="image-box">
                <img src="" alt="Image 6" />
                <h3>Tony Reinhardt</h3>
                <p>Membre du conseil</p>
              </div>
              <div class="image-box">
                <img src="" alt="Image 2" />
                <h3>Hanitra Ratefiniaina</h3>
                <p>Membre du conseil</p>
              </div>
            </div>
          </div>
          <div class="down">
            <div class="col">
         
            </div>
            <div class="col">
              <div class="image-box">
            
                <h3>Diacres</h3>
                <p>Nombre de membres</p>
              </div>
         
            </div>
          </div>
        </section>
      </section>

      
    </main>
  