    <!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
<main>
      <h1>Culte en direct</h1>
<section class="live-down">
    <div class="fb_top">
        <p><em>Nous sommes ravis de vous accueillir pour notre diffusion en direct !<br> Vous pouvez suivre notre culte en temps réel en cliquant sur la vidéo ci-dessous. Restez connectés pour vivre ensemble ce moment spirituel unique.</em></p>
    </div>
    
   <div id="fb-root"></div>
    <!-- Code de lecteur vidéo intégé -->
  <div class="fb-video" data-href="https://fb.watch/lUHnjCCneQ/" data-width="900" data-show-text="false"><blockquote cite="https://www.facebook.com/eglisefontainedegrace/videos/240954662185752/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/eglisefontainedegrace/videos/240954662185752/"></a>
    <p></p>Publiée par <a href="https://www.facebook.com/eglisefontainedegrace">Église Fontaine de Grâce</a> sur Dimanche 16 juillet 2023</blockquote></div>
    <div class="text_fb-video">
        <div class="fb_down">
            <p>N'hésitez pas à ajuster les paramètres de la vidéo en sélectionnant la qualité HD.<br> Vous pouvez le faire en cliquant sur l'icône de paramètres (roue dentée) dans le coin inférieur droit de la vidéo.<br>
                <span>Nous espérons que cette vidéo en direct vous apportera inspiration et bénédiction. <br>Merci de partager ce moment avec nous et de nous rejoindre dans la prière et la communion spirituelle.</span><br><br>
                Si vous rencontrez des problèmes techniques ou si vous avez des questions, n'hésitez pas à nous contacter.<br><br><em>"Que Dieu vous bénisse et vous guide dans votre cheminement spirituel"</em>.
        </div></p>
    </div>

    </div>
</section>
</main>
 