/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS MAIN•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/



main{
    height: 1300px;
    margin: 50px;
    min-height: 100vh;
   
}

h1{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 3rem;
    color:  var(--color2);
}

.contacts-top{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 60px;
    color: black;
}

.contacts-down{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 30px;
}

.formulaire{
    background-color:var(--color2);
    padding: 20px;
    border-radius: 5px;
    color: var(--color1);
    height: 700px;  
    width: 450px;
}

/*message d'erreur du formulaire*/
.error-message{
    color: red;
    font-size: 12px;
    padding-top:0;
}


h2{
text-align: center;
padding-bottom: 30px;
}


.form-group{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    border: none;
}

input.btn.btn-default{
    color: var(--color2);
    font-weight: 800;
    text-transform: uppercase;
    border: none;
}

input.btn.btn-default:hover{
    background-color: var(--color3);
    color: var(--color1);
}

.sujet{
    margin-bottom: 15px;
}

#subject.form-control{
    width: 350px;
    cursor: pointer;
}


.message label{
    padding-bottom: 5px;
}

.form-control{
    width: 400px;
    margin-bottom: 15px;
}

button{
    margin-top: 10px;
    width: 420px;
    color:var(--color1);
    text-transform: uppercase;
    background-color:var(--color3) ;
}

button:hover{
    color:var(--color2);
}

.text-card{
    text-align: center;
    color: var(--color2);
}

.card img{
    width: 450px;
    height: 450px;
    margin: 0;
    padding: 0;
    border: 2px solid var(--color2);
    border-radius: 5px;
}




/*
╔═════════════════════════════════════════════════════════════════════════╗
║•••••••••••••••••••••••••••• RESPONSIVE •••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/



@media screen and (max-width:915px) and (min-width:364px) {

    main{
        height: 2500px;
    }
    
    .actions-top{
            width: 40%;
    
    }

    .card{
        margin-top: 10%;
        margin-left: 10%;
    }
    
}





