    <!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
    <main>
          <section class="membres">
        <section>
          <h1>Ministère</h1>
          <div class="row">
            <div class="citation"><p><q>Et il a donné les uns comme apôtres, les autres comme prophètes, les autres comme évangélistes, les autres comme pasteurs et docteurs, pour le perfectionnement des saints en vue de l'oeuvre du ministère et de l'édification du corps de Christ,jusqu'à ce que nous soyons tous parvenus à l'unité de la foi et de la connaissance du Fils de Dieu, à l'état d'homme fait, à la mesure de la stature parfaite de Christ</q><br><span>Ephésiens 4 : 11-13</span></p></div>
            <div class="top">
                
              <div class="image-box">
                <img src="../assets/photo_A_de_Souza.jpg" alt="Photo A. de Souza" />
                <h3>Amauri de Souza</h3>
                <p>Pasteur, Président</p>
              </div>
              <div class="image-box">
                <img src="../assets/photo_P.Emile.jpg" alt="Photo P. Emile" />
                <h3>Pasteur Emile</h3>
                <p>Pasteur</p>
              </div>
              <div class="image-box">
                <img src="../assets/icon_homme.png" alt="Photo J-P. Borys" />
                <h3>Jean-Pierre Borys</h3>
                <p>Pasteur, Responsable de l'école des disciples</p>
              </div>
            </div>
            <div class="center">
            <div class="image-box">
                <img src="../assets/icon_homme.png" alt="Photo F. de Souza" />
                <h3>Felipe de Souza</h3>
                <p>Secrétaire</p>
              </div>
              <div class="image-box">
                <img src="../assets/icon_femme.png" alt="Photo S. Reinhardt" />
                <h3>Stéphanie Reinhardt</h3>
                <p>Trésorière</p>
              </div>
             
            </div>
            <div class="col">
                <div class="image-box">
                <img src="../assets/icon_homme.png" alt="Photo S. Ratefiniaina" />
                <h3>Setra Ratefiniaina</h3>
                <p>Responsable de Louange</p>
              </div>
              
              <div class="image-box">
                <img src="../assets/icon_homme.png" alt="Photo T. Reinhardt" />
                <h3>Tony Reinhardt</h3>
                <p>Membre du conseil</p>
              </div>
              <div class="image-box">
                <img src="../assets/icon_femme.png" alt="Photo H. Ratefiniaina" />
                <h3>Hanitra Ratefiniaina</h3>
                <p>Membre du conseil</p>
              </div>
              <div class="image-box">
                <img src="../assets/photo_H_de_Souza.jpg" alt="Photo H. de Souza" />
                <h3>Hélène de Souza</h3>
                <p>Membre du conseil</p>
              </div>
            </div>
          </div>
          <div class="down">
            <div class="col">
         
            </div>
            <div class="col">
              <div class="image-box">
            
                <h3>Diacres</h3>
                <p>Plus d'une quarantaine de diacres</p>
              </div>
         
            </div>
          </div>
        </section>
      </section>
 
    </main>
  