    <!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
    <main>
    <section class="actions-top">
  <h1>Merci pour vos offrandes</h1>
  <div>
    <h2>Merci de rejoindre Dieu dans son oeuvre dans ce monde</h2>
    <p>"Honorez l'éternel avec vos richesses, avec les prémisses de toutes vos récoltes; Proverbes 3.9"</p>
  </div>
    </section>

    <section class="actions">
  <div class="place">
    <h2>Sur place</h2>
    <p>Aux horaires du culte :<br>le dimanche matin dès 9h00</p><br>
    <p>En espèce ou chèque</p>
 
  </div>
  <div class="courrier">
    <h2>Par courrier</h2>
    <p>A l'adresse :<br><br>
    <p><em>Eglise Fontaine de Grâce</em><br></p>
    <p><em>rue vieille<br></em></p>
    <p><em>02400 CHATEAU-THIERRY</em></p>
    </p>
  </div>
  <div class="virement">
    <h2>Par virement</h2>
    <p>Domiciliation<br>SG CHARLY SUR MARNE(00613)<br>7 Place du Général de Gaulle<br>02310 Charly</p><br>
    <p>RIB<br>30003    00613    00037280605      27</p><br>
    <p>Libellé de compte<br>FONTAINE DE GRACE</p><br><br>
    <p>IBAN<br>FR76 3000 3006 1300 0372 8060 527</p><br>
    <p>BIC - Adresse SWIFT<br>SOGEFRPP</p><br>
  </div>
    </section>

    <section class="actions-down">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic minus voluptas nulla molestiae consequatur assumenda. Aliquid quam voluptatum asperiores, tempora eum sequi quisquam debitis rem non accusantium itaque fuga cumque?</p>
    </section>
</main>
