    <!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
    <main>
    <section class="story-top">
  <div class="presentation">
<h1>Notre histoire</h1>
<p>L'église Fontaine de Grâce est une église évangélique, association cultuelle loi 1901.
    L'Église croit et s'en tient à la Bible en tant que parole inspirée, infaillible et infaillible de Dieu et c'est l'autorité finale en matière de doctrine et de culte de l'Église.
</p>
  </div>
    </section>
<section class="story-down">
  <div class="carousel">
    <img src="https://images.unsplash.com/photo-1594100513700-659fa01ce822?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="image 1">
    <img src="https://images.unsplash.com/photo-1594100513700-659fa01ce822?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="image 2">
    <img src="https://images.unsplash.com/photo-1594100513700-659fa01ce822?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="image 3">
     
    <!-- Ajoutez ici les autres images avec leurs sources (src) et attributs alternatifs (alt) -->
  </div>
  <button class="carousel-btn" onclick="nextSlide()">&#8594;</button>
</section>
  <div class="valeurs">
    <div>
        <h2>Nos valeurs</h2>
        <p>LA LOUANGE </p>
        <p>LES ETUDES</p>
        <p>La PRIERE</p>
        <p>La PRIERE</p>
        <p>La PRIERE</p>
        <p>La PRIERE</p>
    </div>
    <div>
        <h2>Notre vision</h2>
        <p>"Notre vision est d'amener chaque homme dans la présence de Dieu en tant que personne mature en Christ."</p>
    </div>
   
    <div>
        <h2>Notre mission</h2>
        <p>" Nous ENSEIGNERONS tout le conseil de Dieu à travers sa parole.<br> <br>ÉVANGÉLISER le monde à partir de notre communauté."</p>
    </div>
    </div>
     
    
</main>
 