@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS GLOBAL••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/

*,
::before,
::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
--color1: #fff;
--color2:mediumblue;
--color3: silver;    
font-family: 'Poppins', sans-serif;

}

body{
position: relative;
margin: 0px;
min-height: 100%;
background-size: cover;
width: 100%;
}


/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS HEADER•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/

header{
height: 200px;
width: 100%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
padding: 40px;
}

.menu-responsive{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.logo{
text-align: center;
width: 300px;
}

.logo img{
padding: 0;
height: 80px;
border-radius: 40%;
}

.logo p{
padding: 15px;
text-align: center;
text-transform: uppercase;
color: var(--color2);
}

span{
font-weight: 700;
}

.menu ul{
margin-top: 50px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

li{
list-style: none;
}

.menu ul li a{
text-decoration: none;
color: var(--color2);
font-size: 1.3rem;
padding: 15px;
margin-right: 15px;
text-transform: uppercase;
}

.menu ul li a:hover{
color:red;
border-style: hidden;
border-bottom: 3px solid var(--color2);
}

img{
padding-left: 10%;
margin-top: -10px;
height: 30px;
margin-right: 20px;
cursor: pointer;
}

#icon{
margin-top: 4rem;
display: none;
}



/*
╔═════════════════════════════════════════════════════════════════════════╗
║•••••••••••••••••••••••••••• RESPONSIVE •••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/

@media screen and (max-width:915px){

header{
    height: 150%;
}

.logo{
    margin:0 auto;
}

.menu-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    top: 1rem;
    display: none;
    align-items: left;
    width: 400px;
}

.menu ul{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
}

.menu ul li{
    font-size: bold;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--color1);
    font-size: 1rem;
}

.menu ul li:hover{
    color: var(--color2);
    background-color: var(--color2);
}

#icon{
    margin-top: 3rem;
    display: block;
    margin-left: 0;
}

#icon img{
    width: 50px;
    height: 40px;
}
}


/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS FOOTER•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/


footer {
padding: 25px;
display: flex;
align-items: center;
justify-content:space-between;
background-color: var(--color2);
height: 200px;
bottom: 0; 
width: 100%;

}

footer p{
color: var(--color1);
}
    


footer ul li{
margin: 10px;
color: var(--color1);
}

footer ul li p{
margin-bottom: 5px;

}

footer ul li a{
text-decoration: none;
color: var(--color1);
}

footer .a-propos a:hover{
background-color: var(--color1);
color: var(--color2);
padding: 5px;
border-radius: 5px;
}

footer .footer-reseau img{
width: 3rem;
height: 3rem;
border-radius: 5px;
padding: 5px;
}

.footer-reseau{
display: flex;
flex-direction: row;
}


@media screen and (max-width:915px) {

    footer .a-propos a:hover{
        background-color: var(--color1);
        color: var(--color2);
        padding: 5px;
        border-radius: 5px;
        }

    .footer-reseau{
        display: flex;
        flex-direction: column;
        align-items: center;
        }

}