/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS MAIN•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/


main{
    position: relative;
    height:1200px;
    padding: 50px;
    }
    