/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS MAIN•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/


main{
    position: relative;
    height:1500px;
    padding: 50px;
    }

h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 3rem;
    color: var(--color2);
}

.h2ml{
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}