╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS MAIN•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/

main{
    
    height:2000px;
    padding: 50px;
}



h1{
    padding-top: 40px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 3rem;
    color: var(--color2);

}

.bureau{
    width: 100%;
    height: 100px;
    background-color: grey ;
}

.top,
.center,
.col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top{
    background-color:var(--color2);
}



.image-box{
    width: 20%;
    height: 20%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.400);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 25px;
    background-color:#fff;
}

.image-box img{
    padding-bottom: 10%;
    width: 50%;
    height:80%;
    border-radius: 80%;
    padding: 0;
}

