/*
╔═════════════════════════════════════════════════════════════════════════╗
║••••••••••••••••••••••••••••CSS MAIN•••••••••••••••••••••••••••••••••••║
╚═════════════════════════════════════════════════════════════════════════╝
*/



main{
    height: 2100px;
  
   
    
}

.message{
    margin-top: 200px;
    padding: 100px;
    width: 300px;
    height: 500px;
}