<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--META FDG WEBSITE-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <!--FONT POPPINS, ROBOTO-->
     <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
     <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
     <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap}" rel="stylesheet">
    <!--LINK CSS-->
     <link rel="stylesheet" th:href="@{/pages_Assets/actions/actions.css}" />
    <link rel="stylesheet" th:href="@{/commons/header-footer.css}">
    <!--NOM DE LA PAGE + Description de la page-->
    <title>Actions</title>
  </head>

  <body>
<!-- 
╔════════╗
║•HEADER•║
╚════════╝
-->
<!-- Liaison qui sert à chercher la page dans un autre dossier -->
<div th:replace="~{/pagesWeb/headerFooter:: header}">></div>

<!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
<div th:replace="~{pagesWeb/page_actions:: main}"></div>


    <!-- 
╔════════╗
║•FOOTER•║
╚════════╝
-->
<div th:replace="~{/pagesWeb/headerFooter:: footer}"></div>


  </body>
</html>