<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--META FDG WEBSITE-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--FONT POPPINS, ROBOTO-->
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap}" rel="stylesheet">

      <!--NOM DE LA PAGE + Description de la page-->
    <title>Formulaire envoyé avec succès</title>
  </head>
<body>
    <h2>Votre formulaire a été envoyé avec succès</h2>
    <p th:text="${successMessage}"></p>
</body>
</html>